/* ========== GENERAL ========== */

* {
   
    
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #CED3DC;
}

/* ========== HEADER ========== */

h1 {
    font-family: 'Shadows Into Light';
    font-weight: bold;
}

/* ========== DESCRIPTION ========== */

.descricao {
    font-size: 16px;
    line-height: 25px;
}

/* ========== SKILLS ========== */

ul.softSkills li {
    font-size: 20px;
}

ul.hardSkills li {
    font-size: 20px;
}

/* ========== EXTERNAL LINKS ========== */

.github {
    background-color: #A31621;
    text-decoration: none;
    padding: 15px 30px;
    color: white;

    display: flex;
    margin-inline: auto;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 80% 35%;
}

.github svg {
    height: 25px;
}

/* ========== INTERNAL LINKS ========== */

.internalButton {
    /* color: white;
    background-color: #A31621;
    display: flex;
    height: 25px;
    width: 80px;
    margin-block: 15px; */

    background-color: #CED3DC;
    padding: 15px 30px;
    color: #A31621;
    
    width: 230px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.internalLinks li a {
    text-decoration: none;
    font-size: 16px;
}



/* ========== FOOTER ========== */
footer {
    background-color: #A31621;
    height: 250px;
    
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;
    
}
