/* ========== GENERAL ========== */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ced3dc;
}

/* ========== HEADER ========== */

.nome h1 {
  font-family: "Shadows Into Light";
  font-weight: bold;
}

.nome {
  text-align: center;
}

/* ========== PERFIL ========== */

.perfil {
  text-align: center;
}

.perfil img {
  float: left;
  width: 250px;
  border-radius: 50%;
}

.descricao {
  font-size: 16px;
  line-height: 25px;
  padding-top: 4rem;
  text-align: center;
}

/* ========== SKILLS ========== */

.skills {
  clear: left;
  margin-top: 190px;
}

ul.softSkills li {
  font-size: 20px;
}

ul.hardSkills li {
  font-size: 20px;
}

/* ========== EXTERNAL LINKS ========== */

.github {
  background-color: #a31621;
  text-decoration: none;
  padding: 15px 30px;
  color: white;

  display: flex;
  margin-inline: auto;
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 80% 35%;
}

.github svg {
  height: 25px;
}

/* ========== INTERNAL LINKS ========== */

.internalButton {
  background-color: #ced3dc;
  padding: 1rem 2rem;
  color: #a31621;

  width: 14.3rem;
  height: 3.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.internalLinks li a {
  text-decoration: none;
  font-size: 1rem;
}

/* ========== FOOTER ========== */
footer {
  background-color: #a31621;
  height: 250px;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 1.4rem;
}
